body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

a,
.footer {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.first-section,
.footer {
    background-color: #1f2937;
    display: flex;
}

.first-section {
    flex-direction: column;
    align-items: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.presentation {
    display: flex;
    justify-content: space-around;
    padding: 48px;
    gap: 56px;
}

.presentation-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: 500px;
    gap: 16px;
}

.main-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}

.presentation-subtext {
    font: 18px;
    color: #E5E7EB;
}

.presentation-button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    padding: 8px;
    border-radius: 6px;
    border: none;
}

.presentation-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightslategrey;
    flex: 1 1 auto;
    width: 500px;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: scenter;
}

.second-title {
    display: flex;
    justify-content: center;
}

.deck {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 150px;
} 

.footer {
    justify-content: center;
    align-items: center;
    padding: 16px
}